// These are all locally hosted on the site. They should be placed on TT CDNs for fastest possible concurrent load times.
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/ROBOTO-REGULAR.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Industry';
  src: url("../fonts/INDUSTRY-MEDIUM.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Industry';
  src: url("../fonts/INDUSTRY-BOLD.woff") format("woff");
  font-weight: 700;
  font-style: normal; }